<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title> Json Eg</title>
</head>
<body>
    
    <div class="container mt-3">
        <table class="table table-bordered">
            <caption>User Profiles API </caption>
            <thead class="thead-dark">
                <tr>
                    <th>Sr No.</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Passion</th>
                    <th> Can Vote </th>
                </tr>
            </thead>
            <tbody>

                

                {% for json in jsonData %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{json.Name}}</td>
                    <td>{{json.Age}}</td>
                    <td>{{json.Passion}}</td>
                    <td>
                        {% if json.Age >= 18 %}
                        👍
                        {% else %}
                        👎
                        {% endif %}

                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
          
        </table>
    </div>
</body>
</html>