{% extends 'shop/basic.html' %}

<!-- Block Title  -->
{% block title%} Products : ECom {%endblock%}

<!-- Block CSS -->

{% block css%}
<style>
  body {
    position: relative;
  }

  .bgblack {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.623);
    height: 100vh;
    width: 100vw;
    z-index: 99;
  }
  .editProductsWrapper{

  }
  .editProductsPopup {
    display: none;
    /* width: 60%;
    position: fixed; */
    z-index: 100;
    background-color: white;
    padding: 10px;


  }
</style>
{% endblock%}


{%block body%}



<!-- Modals end -->

<div class="container-fluid m-4 p-4">
  <div class="container bg-light p-4 ">
    <h3 class="heading text-center"> Our Products & Services </h3>
    <div class="options d-flex flex-row" style=" justify-content:flex-end; align-items: center; margin-right: 5rem;">

      <div class="buttons-wrapper">

        <button class="btn bg-success text-white" data-bs-toggle="modal" data-bs-target="#addProducts">
          Add Products
        </button>
        {% for product in productsList %}
        <!-- Add Products Modal -->
        <div class="modal fade" id="addProducts">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title addProducts">Add Products</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                Enter Product Information
                <form action="/shop/products/" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}

                  <div class="mb-3 mt-3">
                    <label for="pName" class="form-label">Product Id:</label>
                    <input type="text" class="form-control" id="pName" value="{{ product.id }}" style="display: none;" name="pId" disabled>
                  </div>

                  <div class="mb-3 mt-3">
                    <label for="pName" class="form-label">Product Name:</label>
                    <input type="text" class="form-control" id="pName" placeholder="Enter product name" name="pName">
                  </div>
                  <div class="mb-3">
                    <label for="pDesc" class="form-label">Product Description : </label>
                    <input type="text" class="form-control" id="pDesc" placeholder="Enter product Description"
                      name="pDesc">
                  </div>

                  <div class="mb-3">
                    <label for="pDesc" class="form-label">Publication Date : </label>
                    <input type="date" class="form-control" id="pDate" placeholder="Enter Publication Date"
                      name="pDate">
                  </div>

                  <div class="mb-3">
                    <label for="pDesc" class="form-label">Set Price </label>
                    <input type="number" class="form-control" id="pPrice" placeholder="Enter product Price"
                      name="pPrice">
                  </div>

                  <div class="mb-3">
                    <label for="pDesc" class="form-label">Set Category </label>
                    <input type="text" class="form-control" id="pCat" placeholder="Enter product category" name="pCat">
                  </div>

                  <div class="mb-3">
                    <label for="pDesc" class="form-label">Set SubCategory </label>
                    <input type="text" class="form-control" id="pSubCat" placeholder="Enter product category"
                      name="pSubCat">
                  </div>
                  <div class="mb-3">
                    <label for="pDesc" class="form-label">Set Image </label>
                    <input type="file" class="form-control" id="pImage" placeholder="Enter product category"
                      name="pImage" accept="image/*">
                  </div>



                  <button type="submit" name="submit_add_product" class="btn btn-primary">Submit</button>
                </form>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}


      </div>
    </div>

    <!-- Products -->

    <div class="product cards-wrapper d-flex mx-3 mt-4 flex-wrap" style="width: 100%">
      {% for product in productsList %}
      <div class="card mx-4 mt-2" style="width: 25%;">
        <img class="card-img-top" src="http://127.0.0.1:8000/media/{{product.image}}" alt="Product Image" style="height: 40%">
        <div class="card-body">
          <h4 class="card-title">{{ product.product_name }}</h4>
          <p class="card-text">Product Id: (Temporary ) {{ product.id }}</p>
          <p class="card-text">{{ product.desc }}</p>
          <p class="card-text">Price: ${{ product.price }}</p>
          <!-- Add more details as needed -->
          <a href="#" class="btn bg-warning">View Product</a>
          <button class="btn bg-danger text-white editProductsBtn">
            Edit Products
          </button>
        </div>


       

      </div>
      {% empty %}
      <p>No products available.</p>
      {% endfor %}
      <!-- Closing div for the for loop -->
    </div>

    {% if isSuccess %}
    <div class="alert alert-success p-3 m-3">
      {{alert}}
    </div>
    {% else %}

    {% endif %}


  </div>

</div>

{% for product in productsList %}
<div class="editProductsWrapper">
  <div class="editProductsPopup">
    <!-- Modal Header -->
    <div class="modal">
      <h4 class="modal-title">Edit Products</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      Edit Product Information
      <form action="/shop/products/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3 mt-3">
          <label for="editPId" class="form-label">Edit Product Id:</label>
          <input type="number" class="form-control" id="pName" value="{{product.id}}" name="editPId">
        </div>

        <div class="mb-3 mt-3">
          <label for="editPName" class="form-label">Product Name:</label>
          <input type="text" class="form-control" id="editPName" value="{{ product.product_name }}"
            name="editPName">
        </div>
        <div class="mb-3">
          <label for="editPDesc" class="form-label">Product Description : </label>
          <input type="text" class="form-control" id="pDesc" value="{{product.desc}}"
            name="editPDesc">
        </div>

        <div class="mb-3">
          <label for="editPDate" class="form-label">Publication Date : </label>
          <input type="date" class="form-control" id="editPDate" value="{{product.pub_date}}"
            name="editPDate">
        </div>

        <div class="mb-3">
          <label for="editPPrice" class="form-label">Set Price </label>
          <input type="number" class="form-control" id="editPPrice" value="{{product.price}}"
            name="editPrice">
        </div>

        <div class="mb-3">
          <label for="pDesc" class="form-label">Set Category </label>
          <input type="text" class="form-control" id="editPCat" value="{{product.category}}"
            name="editPCat">
        </div>

        <div class="mb-3">
          <label for="pDesc" class="form-label">Set Subcategory </label>
          <input type="text" class="form-control" id="editSubCat" value="{{product.subcategory}}"
            name="editPSubCat">
        </div>
        <div class="mb-3">
          <label for="editPImage" class="form-label">Set Image </label>
          <input type="file" class="form-control" name="editPImage" accept="image/*">
        </div>



        <button type="submit" name="submit_edit_product" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
    </div>

  </div>
</div>
</div>
</div>
{% endfor %}
<script>

  const editProductsBtn = Array.from(document.querySelectorAll('.editProductsBtn'))
  const editProductsPopup = Array.from(document.querySelectorAll('.editProductsPopup'))
  const bgblack = document.querySelector('.bgblack')
  console.log(editProductsBtn)

  for (let i = 0; i < editProductsBtn.length; i++) {

    editProductsBtn[i].addEventListener('click', function () {
      editProductsPopup[i].style.display = 'block'
      bgblack.style.display = 'block'

      console.log("After display block")
    })
  }

  // editProductsBtn.forEach(function(button,index){
  //   button.addEventListener('click', function(){
  //     console.log(editProductsPopup[index])
  //     editProductsPopup[index].style.display === 'block'
  //     console.log("After display block")
  //   })
  // })
</script>
{%endblock%}