<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product View : ECom</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid" style="margin: 0px 30px">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">MyEasyCart</a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/shop">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Track Order</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/shop/products/">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Search</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/shop/contact/">Contact Us</a>
              </li>
            
          </ul>
        </div>
        <div class="login-wrapper mx-4" style="width: 7%">
            <button class="btn bg-warning rounded w-100"> <a href="http://127.0.0.1:8000/shop/login/" style="text-decoration: none; color: black;"> Log In </a></button>
        </div>
      </nav>
    
</body>
</html>